@media (min-width: 768.50px){
    
    header:first-child{
        background-color: rgba(84, 240, 52, 0.65);
    }
        
    article:nth-child(1){
        background-color: rgba(36, 160, 11, 0.65);
    } 
    
    article:nth-child(2){
        background-color: rgba(90, 41, 240, 0.65);
    }

    article:nth-child(3){
        background-color: rgba(44, 15, 131, 0.65);
    }
    
    p:nth-child(1){
        background-color: rgba(3, 135, 250, 0.65);
    }

    p:nth-child(2){
        background-color: rgba(8, 112, 202, 0.65);
    }

    p:nth-child(3){
        background-color: rgba(9, 77, 136, 0.65);
    }

    p:nth-child(4){
        background-color: rgba(6, 46, 82, 0.65);
    }
    
    footer > ul{
        background-color: rgba(26, 112, 9, 0.65);
    }
  
}
  
@media (max-width: 768.50px){
  
    header:first-child{
        background-color: rgb(84, 240, 52);
    }
        
    article:nth-child(1){
        background-color: rgb(36, 160, 11);
    } 
    
    article:nth-child(2){
        background-color: rgb(90, 41, 240);
    }

    article:nth-child(3){
        background-color: rgb(44, 15, 131);
    }
    
    p:nth-child(1){
        background-color: rgb(3, 135, 250);
    }

    p:nth-child(2){
        background-color: rgb(8, 112, 202);
    }

    p:nth-child(3){
        background-color: rgb(9, 77, 136);
    }

    p:nth-child(4){
        background-color: rgb(6, 46, 82);
    }
    
    footer > ul{
        background-color: rgb(26, 112, 9);
    }

}